doctype html
html
    head
        script(src="http://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin="anonymous", type="text/javascript")
        script(src="../js/people-parser.js", type="text/javascript")
        script(src="../js/utilities.js", type="text/javascript")
        link(rel='stylesheet' href='../css/editing.css')
    body
        h1#category people
        div.container
            each person in data
                div.entry
                    h3 person
                    div.legend name
                    input.name.entry-field(value= person.name)
                    div.legend role(s)
                    div.roles
                        each role in person.roles
                            input.entry-field(value= role)
                        button(onclick="add(this.parentNode)") Add Role
                    div.legend currently here?
                    if person.current
                        input.current.entry-field(type='checkbox' value= person.current checked="checked")
                    else
                        input.current.entry-field(type='checkbox' value= person.current)
                    div.legend short description (< 10 words)
                    input.desc-short.entry-field(value= person.description.short)
                    div.legend long description (< 100 words)
                    textarea.desc-long.entry-field(cols=80, rows=10)= person.description.long
                    div.legend courses
                    div.courses
                        each course in person.courses
                            input.entry-field(value= course)
                        button(onclick="add(this.parentNode)") Add Course
                    div.legend website
                    input.website.entry-field(value= person.website)
                    div.legend email
                    input.email.entry-field(value= person.email)
                    div.legend image
                    input.image.entry-field(value= person.image)
                br
            div.footer
                // TODO: Get saving working. Should this be send() instead?
                button(onclick="parse()") Click to Save
        
