doctype html
html
    head
        script(scr="http://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin="anonymous", type="text/javascript")
        script(src="../js/script.js", type="text/javascript")
    body
        each val in pugData
            div.activities-holder
                input(value= val.title, class= 'title')
                input(value= val.blurb, class= 'blurb')
                input(value= val.image, class= 'image')
                input(value= val.link, class= 'link')
            br
        button(onclick="save()") Click to Save
        
